@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabajo Practico 1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h2 class="display-4">Problema 4</h2>

    <form asp-action="Problema4" method="post">
        <label>Kilometros conducidos</label>
        <input type="text" name="kmt" value="" />
        <br />
        <label>Litros usados</label>
        <input type="text" name="lit" value="" />
        <br />
        <input id="Submit" type="submit" value="Enviar" />
    </form>
</div>